{deps_dir, ["deps"]}.

%% VKI
{sub_dirs, ["rel", "apps/eunit_tools"]}.

{erl_opts, [debug_info]}. %, fail_on_warning]}.

{deps,
 [
  {meck,   ".*",  {git, "https://github.com/eproxus/meck", "master"}},
  {proper, ".*",  {git, "https://github.com/manopapad/proper.git", "master"}},
  {entop,  ".*",  {git, "https://github.com/mazenharake/entop.git", "master"}},
  {eper,   ".*",  {git, "https://github.com/massemanet/eper.git", "master"}}
%%  {distel, ".*",  {git, "https://github.com/stesla/distel.git", "master"}}  
 ]}.
